<div class="article column2">
	<h3> Dispensals </h3>
	<table>
		<tr>
			<th>Date</th>
		  <th>Farmer</th>
		  <th>Quantity</th>
		</tr>
	 <tr>
	<div class="apple_pagination">
		<%= will_paginate @dispensals %>
	</div>
		<% @dispensals.each do |dispensal| %>
			<td><%= dispensal.date %>
		  <td><%= link_to dispensal.farmer.name, dispensal.farmer %></td>
		  <td><%= dispensal.pounds %></td>
		  <td><%= link_to 'More Details', dispensal %></td>
		</tr>
	<% end %>
	</table>
</div>
