<%= form_for(@seed) do |f| %>
  <% if @seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seed.errors.count, "error") %> prohibited this seed from being saved:</h2>

      <ul>
      <% @seed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :family %><br />
    <%= f.text_field :family %>
  </div>
  <div class="field">
    <%= f.label :variety %><br />
    <%= f.text_field :variety %>
  </div>
	  <div class="field">
    <%= f.label :spacing %>(inches)<br />
    <%= f.text_field :spacing %>
  </div>
  <div class="field">
    <%= f.label :maturity %>(weeks)<br />
    <%= f.text_field :maturity %>
  </div>
  <div class="field">
    <%= f.label :common_names %><br />
    <%= f.text_field :common_names %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "43x10"  %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :size => "43x10"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
