<div id="feature">
<p>
  <b>Seed:</b> 
	<%= @seed.humanize %>
</p>
<p>
  <b>Stock Quantity:</b>
  <%= @seed.pounds %>
</p>
<p>
  <b>Spacing:</b>
  <%= @seed.spacing %> inches
</p>
<p>
  <b>Maturity:</b>
  <%= @seed.maturity %> weeks
</p>
<p>
  <b>Common Names:</b>
  <%= @seed.common_names %>
</p>
<p>
	<b>Description:</b><br />
	<%= @seed.description %>
</p>
<%= link_to "Add Arbitrary Quantity", add_quantity_path(@seed) %>
<%= link_to "Edit Seed", edit_seed_path(@seed) %>
</div>
	<%= render "donor_list" %>
	<%= render "dispensal_list" %>


