<div id="feature">
<p>
  <b>Name:</b>
  <%= @farmer.name %>
</p>
<p>
  <b>Country:</b>
  <%= @farmer.country %>
</p>
<p>
  <b>Language:</b>
  <%= @farmer.language %>
</p>
<p>
  <b>Farm Site:</b>
  <%= @farmer.farm_site %>
</p>
<%= link_to 'Edit', edit_farmer_path(@farmer) %> 
</div>
<div class="article column1">
	<h3> Donations </h3>
	<%= link_to 'New Donation', :controller => :donations, :action => :new, :donor_id => @farmer %>	
	<%= render 'donors/donations_list' %>
</div>
<div class="article column2">
	<h3> Dispensals </h3>
	<%= link_to 'New Dispensal', :controller => :dispensals, :action => :new, :farmer_id => @farmer %>	
	<%= render 'dispensals_list' %>
</div>

