<!DOCTYPE html>
<html>
<head>
  <title>IrcSeedBank</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="nav">
		<div id="logo">
			<%= image_tag'logo.jpg', :size => "50x50" %>
		</div>
		<ul class="hmenu">
		  <%= render 'shared/navigation' %>
		</ul>
	</div>

	<div id="content">
		<%- flash.each do |name, msg| -%>
		  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
		<%- end -%>
		<%= yield %>	
	</div>
<% if Rails.env.development? %>
	<div id="footer">
		<%= debug(params) %>
	</div>
<% end %>
</body>
<script type="text/javascript">
	$(document).ready(function () {
		$('.datepicker').datepicker();
	});
</script>
</html>
